<!-- start product-sliders (SNIPPET) -->
{% comment %}
{%- render 'icon-loading' -%}
{% endcomment %}
{%- for tagBadge in product.tags -%}
    {%- if tagBadge == settings.product_badge_tag and settings.product_badge_text_tag != blank -%}
        <label class="product_tag_badge ribbon {{ settings.position_product_tag_badge }}">
            <span>{{ settings.product_badge_text_tag }}</span>
        </label>
    {%- endif -%}
{%- endfor -%}

{%- liquid
  assign qtySlides = settings.thumbnails_options | default: 5
  assign qtyImages = product.images | size

  if qtyImages < qtySlides
      assign resetTransform = 'center-slick-track'
  else
      assign resetTransform = ''
  endif
-%}


{%- assign image_product_default = settings.recently_viewed_product_without_image -%}
<div class="product-slider-widget">
    <div class="product-slider product-slider-featured jq-featured-slider invisible">
            {%- for image in product.images -%}
                {%- if forloop.first -%}
                    {%- assign lazyLoad = false -%}
                {%- else -%}
                    {%- assign lazyLoad = true -%}
                {%- endif -%}
                <div>
                    <div class="product-slider-image-wrapper " data-src="{{ image.src | split: '?' | first }}">
                        {%- render 'responsive-image', image: image, image_class: "slick-img", custom_class: true, max_width: 2400, active_lazy: lazyLoad, id_prefix: forloop.index, size_large: 600, size_mobile: 87, size_desk: 42, image_alt: image.alt -%}
                        {%- if forloop.first == true -%}
                          {%- render 'badge-overlay', product: product -%}
                        {%- endif -%}
                    </div>
                </div>
            {% else %}
                <div class="product-slider-image-wrapper" data-src="{{ image.src | split: '?' | first }}">
                    {%- render 'responsive-image', image: image_product_default, image_class: "slick-img", custom_class: true, max_width: 1000, active_lazy: false, id_prefix: forloop.index, size_large: 600, size_mobile: 87, size_desk: 42, image_alt: image.alt -%}
                </div>
            {%- endfor -%}
    </div>

    <div class="product-slider product-slider-thumbnails invisible {{ resetTransform }}">
        {%- for image in product.images -%}
            <div>
                <div class="product-slider-image-wrapper">
                    {%- render 'responsive-image', image: image, image_class: "slick-img", custom_class: true, max_width: 200, active_lazy: true, id_prefix: index, size_large: 200, size_mobile: 50, size_desk: 50, image_alt: image.alt -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>


{%- comment -%}
The snippet bellow display the featured image from current variant.
{%- endcomment -%}

{% style %}
.product-page .product-slider-widget .product-slider-featured.invisible>div:nth-of-type(1) {
    display: block;
}
{% endstyle %}
