<!-- start swatch-style.liquid (SNIPPET) -->
{%- for val in values -%}
    {%- assign value = val | replace: '"', '&quot;' | replace: "'", '&apos;' -%}

    <label id="prod-swatch-style-{{ value | downcase }}-{{ swatch_index }}" class="swatch-element swatch-element-color {% if swatch_index > 0 and settings.enable_out_off_stock_button == false %} swatch-disabled {% endif %} {% if type == 'style' %}swatch-style-option{% endif %} {% if settings.swatch_round_style_product_page %} round {% endif %}" data-swatch="{{ value }}">
        <input type="radio"
               id="jq-swatch-style-element-{{ forloop.index }}-{{ swatch_index }}"
               class="swatch-variant-value jq-swatch-element"
               value="{{ value }}"
               data-swatch-index="{{ swatch_index }}" 
               name="swatch_element_style_option_{{ swatch_index }}"
               {% if swatch_index > 0 and settings.enable_out_off_stock_button == false %} disabled {% endif %}
               required/>

        {%- assign css_value = val | handle -%}
        {%- assign bg_image_css_value = css_value | append: '.jpg' | asset_img_url -%}
        <span class="{% if custom_colors %} {{ value | handle }}-custom-color {% endif %}swatch-value swatch-background-{{ css_value }} {{ value | handle }}" style="background-color: {{ css_value }}; background-image: url('{{ bg_image_css_value }}');"></span>
        <span class="{% if settings.swatch_round_style_product_page %}swatch-value-circle-checked{% else %}swatch-value-checked{% endif %}">{% render 'icon-check' %}</span>
    </label>
{%- endfor -%}