<!-- start search.liquid (TEMPLATE) -->


<div class="wrapper">
  <div class="search collection container">
    <div class="inner">
      {%- render 'breadcrumb' -%}

      {%- if search.performed -%}
          {%- if search.results_count == 0 -%}
              <header class="section-header">
                <h2 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
            <form id="template-search-form" action="/search" method="get" class="search-page-form">
                    <input aria-label="search-text" type="text" class="search-text" name="q" id="Search-Template-Input" value="{{ search.terms | escape }}" placeholder="{{ header_searchbar_placeholder }}">
                    <button id="Template-SearchButton" type="submit" class="button">
                        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                    </button>
                  </form>
          </header>
          {%- else -%}
              <header class="section-header">
                <h2 class="hide">{{ search.terms }}</h2>
                <h1 id="id-section-header" class="section-header__title section-header__left title">Search for: <strong class="search-terms">"{{ search.terms }}"</strong></h1>
               {% comment %} {%- if settings.enable_search_form -%}{% endcomment %}
                  <form id="template-search-form" action="/search" method="get" class="search-page-form">
                    <input aria-label="search-text" type="text" class="search-text" name="q" id="Search-Template-Input" value="{{ search.terms | escape }}" placeholder="{{ header_searchbar_placeholder }}">
                    <button id="Template-SearchButton" type="submit" class="button">
                        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                    </button>
                  </form>
              {% comment %}  {%- endif -%}{% endcomment %}
              </header>
          {%- endif -%}
      {%- else -%}
          <header class="section-header">
            <h2 class="hide">{{ search.terms }}</h2>
            <form id="template-search-form" action="/search" method="get" class="search-page-form">
                    <input aria-label="search-text" type="text" class="search-text" name="q" id="Search-Template-Input" value="{{ search.terms | escape }}" placeholder="{{ header_searchbar_placeholder }}">
                    <button id="Template-SearchButton" type="submit" class="button">
                        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                    </button>
                  </form>
            
            <span class="section-header__title section-header__left text-center">{{ 'general.search.title' | t }}</span>
          </header>
      {%- endif -%}

      {%- if search.performed and search.results_count > 0 -%}
        {%- paginate search.results by 50 -%}
            {%- if template contains 'search' -%}
              {%- assign source = search.results -%}
              {%- assign is_search = true -%}
            {%- else -%}
              {%- assign source = collection.products -%}
              {%- assign is_search = false -%}
            {%- endif -%}

            {%- case grid_items_per_row -%}
              {%- when '2' or 2 -%}


              {%- when '3' or 3 -%}


              {%- when '4' or 4 -%}


              {%- when '5' or 5 -%}


              {%- when '6' or 6 -%}

            {%- endcase -%}

            {%- capture list_of_products -%}
              {%- for item in source -%}
                {%- if is_search -%}
                  {%- if item.object_type == 'product' -%}
                    {%- render 'product-grid-item', product: item -%}
                  {%- endif -%}
                {%- else -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}
            <div class="grid-uniform">
              {{ list_of_products }}
            </div>
            {%- if paginate.pages > 1 -%}
                <hr>
                <div class="pagination">
                  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                </div>
            {%- endif -%}
        {%- endpaginate -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% section 'home-featured-collection' %}
{% comment %}
{%- case settings.search_promotional -%}
  {%- when 'collection_list' -%}
    {%- section 'collection-list' -%}
  {%- when 'slider-promotional' -%}
    {%- section 'slider_promotional' -%}
{%- endcase -%}
{% endcomment %}
